/**Header**/

.header {
	padding-top: 60px;
	padding-bottom: 190px;
	background-color: #5c5766;
	color: #fff;
}

.nav-list {
	width: 940px;
	margin: 0 auto;
	justify-content: space-between;
}

.user-nav {
	padding-bottom: 135px
}

.nav-link {
	color: #fff;
	text-transform: uppercase;
}

.header-logo {
	width: 100px;
	margin: 0 auto;
	padding-bottom: 43px
}

.header-social {
	width: 370px;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.tin-line {
	width: 87px;
	height: 2px;
	background-color: #c4c0cf;
}

.social-network-list {
	width: 197px;
	justify-content: space-between;
}

.header-about {
	text-align: center;
}

.greeting-middle {
	margin: 0;
	padding-bottom: 8px;
	font-size: 25px;
	text-transform: uppercase;
}

.greeting--big {
	margin: 0;
	padding-bottom: 10px;
	font-size: 66px;
}

.greeting-small {
	margin-bottom: 40px;
	font-size: 22px;
}

.header-social {
	margin-bottom: 150px;
}

.header-about-status {
	width: 770px;
	margin: 0 auto;
	justify-content: space-between;	
	font-size: 18px;
}

.status-value {
	color: #ffdd8b;
	text-transform: uppercase;
}

.header-about-status p:first-child {
	margin-right: 34px;
}

/**About-me**/
.about-me {
	padding: 100px 0 105px 0;
	background-color: #524664;
}

.about-me__top {
	flex-direction: column;
	align-items: center;
}

.about-me__title,
.about-me__text {
	text-transform: uppercase;
}

.about-me__title {
	ont-size: 35px;
	color: #fff;
}

.about-me__text {
	font-size: 16px;	
	color: #d0c6db;
}

.about-me-content {
	width: 543px;
	padding-right: 30px;
}

.about-me-content__title {
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;

} 

.about-me-content__text {
	color: #c4c0cf;
	font-size: 15px;
}

.about-me-social-list {
	width: 200px;
	justify-content: space-between;
}

.about-me-skills { 
 	padding-left: 75px;
 }

.progress-bar,
.progress-bar-full {
	width: 515px;
	height: 43px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background-color: #615474;	
	border-radius: 3px;
}

.progress-bar-full {
	padding: 0 15px;
	background-color: #ffd670;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	color: #615474;
}

.progress-bar-full--ai {
	width: 420px;

}
	
.progress-bar-full--id {
	width: 220px;
}

.progress-bar-label {
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
} 

.progress-bar-procent {
	font-size: 13px;
}

/**Portfolo**/

.portfolio {
	padding: 95px 0 100px 0;
	background-color: #ffd670;
	color: #fff
}

.portfolio-content {
	*width: 530px;
}

.portfolio-project {
	width: 530px;
}

.portfolio-slider {
	width: 970px;
	height: 685px;
	background-color: #5c5766;
}

.portfolio-features {
	margin-top: 63px;
}

.portfolio-features__nav {
	margin-bottom: 100px;
}

.first-row:last-child {
	background-color: #fff;
}


.features-item {
	position: relative;
	width: 250px;
	height: 250px;
	margin-right: 135px;
	background-color: #fff0ca;
	border-radius: 12px;
	transform: rotate(45deg);
}

.features-item--active {
	background-color: #5c5766;
	/margin-right: 135px;
	transform: rotate(45deg);
}

.features-item__content {
	position: absolute;
	width: 240px;
	top: 70px;
	right: 10;
	text-align: center;
	transform: rotate(-45deg);
}

.features-item__title {
	font-size: 14px;
}

.features-item__text {
	font-size: 12px;
}

.first-row  {
	width: 1502px;
	padding-left: 47px;
}

.plus-icon  {
	position: absolute;
	display: block;
	width: 65px;
	height: 65px;
	right: 90px;
	background-color: #bc492b;
	font-size: 50px;
	border-radius: 50%;
	align-items: center;
}

.second-row {
	margin-left: 240px;

}

.features-item--last {
	margin: 0;	
	transform: rotate(45deg);
}

/*==========Blog==============*/

.blog-conteiner {
	width: 1004px;
	margin: auto;
}

.blog__main {
	width: 675px;
}

.blog { 
	padding: 100px 0;
}

.blog__section-subtitle {
	color: #a5aabe;
}

.blog-undeline {
	width: 100%;
	height: 2px;
	margin-left: -90px;
	background: #e6e6e6;
}

.blog-inner-wrapper {
	margin-top: 95px;	
}

.blog__img-subtitle {
	margin: 25px 0 15px 0; 
	color: #373c4f;
	font-family: "Roboto Slab";
	font-size: 24px;
	text-transform: uppercase;
}

.blog_comment-count,
.blog__data {
	margin: 0;
	color: #c4c0cf;
	font-size: 11px;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
}

.blog__text {
	color: #898d9d;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.blog__tags {
	width: 100%;
	margin-bottom: 30px;
	padding: 25px 0;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	color: #898d9d;
	font-size: 13px;
	font-weight: 300;
	
}

.blog__comment {
	
}

.comment-count {
	font-size: 15px;
  	color: #898d9d;
  	font-weight: bold;
	text-transform: uppercase;
}

.comment-box {
	position: relative;
	margin: 35px 0 35px 90px;
}


.comment-box--subcomment {
	position: relative;
	margin: 35px 0 35px 180px;
}

.subcomment-undeline {
	margin-left: -180px;
}

.comment-avatar {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0;
	left: -90px;
	border-radius: 4px;
	background: #e6e6e6;
}

.comment-name {
	margin-bottom: 10px;
	color: #ffdb83;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.52px;
}

.comment-stat {
	margin-bottom: 18px;
	color: #c4c0cf;
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
}

.comment-replay-btn {
	border: none;
	cursor: pointer;
	font-size: 13px;
	background-color: transparent;
	color: #ffd670;
	text-transform: uppercase;
}	

.comment-content {
	margin-bottom: 30px;
	color: #898d9d;
	line-height: 25px;
	font-size: 13px;
	font-weight: 300;
}



.comment-title {
	color: #898d9d;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.comment-subtitle {
	color: #898d9d;
	font-size: 13px;
	font-weight: 300;
	line-height: 30px;
}

.comment-form {
	margin-top: 35px;
}

.comment-form__name,
.comment-form__email,
.comment-form__comment-text {
	padding-left: 30px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background-color: #f8f8f8;
}

.comment-form__email,
.comment-form__name {
	width: 325px;
	height: 58px;

}

.comment-form__name {
	margin: 0 18px 20px 0;
}


.comment-form__comment-text {
	display: block;
	width: 100%;
	height: 210px;
}

.comment-post-description {
	color: #cacaca;
	font-size: 13px;
}

::placeholder {
	font-size: 16px;
  	color: rgb(202, 202, 202);
} 

.comment-form__post-btn {
	width: 191px;
	padding: 11px 33px;	
	background-color: #ffd670;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.56px;
}


.card-wrapper {
	margin-top: 157px;
	justify-content: space-around;
}

.card {
	width: 347px;
	padding-bottom: 35px;
	background-color: #f3f3f3;
	border-radius: 8px;
}

.card__img {
	width: 100%;
	height: 295px;
	margin-bottom: 30px;
	background-color: #ffd670;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card__text-conteiner {
	padding-left: 28px;
	flex-direction: column;
	/justify-content: space-around;
	/align-content: space-around;
}

.card__subtitle {
	color: #373c4f;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 0.56px;
	/text-align: center;
}

.card__text {
	margin: 22px 0 22px 0;
	color: #898d9d;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	line-height: 22px;
	letter-spacing: 0.52px;
}

.card__link {
	/padding-left: 28px;
	color: #ffd670;
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.52px;

}

.search-form {
	background-color: #f8f8f8;
}

.search-form__icon {
	width: 37px;
	height: 16px;
	padding: 21px 21px 21px 0;
	color: #ffd670;
	background-color: #f8f8f8;
}

.blog-side-menu {
	margin-left: 30px;
}

.search-form {
	margin: 37px 0 60px 0;
}

.blog-side-menu__search-box {
	display: block;
	width: 264px;
	padding: 21px;
	border: none;
	background-color: #f8f8f8;
	box-sizing: border-box;
}

.blog-side-menu__search {
	width: 299px;
}

.blog-side-menu__title {
	color: #898d9d;
	font-family: "Roboto Slab";
	font-size: 13px;
	font-weight: 700;
	line-height: 37px;
	text-transform: uppercase;
	letter-spacing: 0.52px;
}

.blog-side-menu__categoryies-list {
	margin-top: 10px;
	margin-bottom: 20px;
}

.categoryes-item {
	padding: 10px 0;
	list-style-position: inside;
}

.categoryes-item:not(:last-child) {
	border-bottom: 1px solid #f8f8f8; 
}  

.categoryes-item__link  {
	padding-left: 20px; 
	width: 51px;
	height: 9px;
	color: #bec0c9;
	font-family: "Roboto Slab";
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.slider {
	width: 100%;
	height: 19px;
	margin-top: 50px;
	justify-content: center;
	background-color: #f3f3f3;
	border-radius: 10px;		
}

.slider__control {
	width: 33%;
	height: 19px;
	background-color: #ffd670;
	border-radius: 10px;
}

.slider__control:hover {
	cursor: pointer;
	
}


/***work-example***/

.container {
	padding: 99px 0 180px 0;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background-color: #5c5766;
}

.example-logo {
	margin-bottom: 65px;
}

.example-text {
	color: innerit;
	text-align: center;
}

/**contact-section**/

.contact-container {
	padding: 99px 0 65px 0;
	flex-direction: column;
	align-items: center;
	color: #5b6074;
}

.contact-title {
	margin: 0;
	color: innerit;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
}

.contact-subtitle {
	margin: 0;
	color: #5b6074;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}

.contact-info {
	align-items:center;
}


.contact-subtitle {
	margin-bottom: 30px;
}

.mail-img,
.phone-img {
	margin-right: 21px;
}

.mail-info,
.phone-number {
	color: #5b6074;
	font-family: "Roboto Slab";
	font-size: 20px;
}

.mail-info {
	margin-right: 39px;
}

.form {
	flex-direction: column;
	align-items: center;	
}

.contact-form {
  width: 904px;
}

.form-name,
.form-mail,
.form-message {
  padding: 22px 0 24px 26px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-name,
.form-mail {
  width: 430px;
  margin-bottom: 40px;
}

.form-name {
  margin-right: 40px;
}

.form-message {
  width: 100%;
  margin-bottom: 40px;
}

::placeholder {
  color: #cacaca;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.64px;
}


.contact-send-btn {
	width: 273px;
	padding: 25px 63px;	
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	
}	


/***Footer**/

.footer-main {
    padding: 30px 0 40px 0;
}

.copyrigth-text {
	text-align: center;
	color: #cacaca;
	font-family: "Roboto Slab";
	font-size: 13px;
	font-weight: 300;
	line-height: 30px;
}



